/* Font Family */
.ff-playfair {
    font-family: var(--ff-playfair);
}

.ff-italiana {
    font-family: var(--ff-italiana);
}

.ff-times-new-roman {
    font-family: "Times New Roman", Times, serif !important;
}

.ff-inter {
    font-family: var(--ff-inter);
}

.ff-dm-mono {
    font-family: var(--ff-dm-mono);
}